@using Application.Helpers;
@using Application.Models.Item;
@using System.Security.Claims;
@model ItemResponse
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;

@{
    ViewData["Title"] = localizer["Item"];
}


<input type="hidden" value="@Model.Item.Id" id="item-id" />

<h3 class="mt-5">
    @Model.Item.Name
    @if((User.Identity?.IsAuthenticated ?? false) && (User.IsInRole("Admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Collection.UserId))
    {
        <a type="button" class="btn btn-warning btn-sm ms-3" href="@Url.Action("EditItem", "Item", new { itemId = Model.Item.Id })">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
        </a>
    }
</h3>



<div class="d-flex flex-row gap-1 col-12 col-lg-8 mt-3 mb-5">
    @foreach(var tag in Model.Item.Tags)
    {
        <span class="badge rounded-pill text-bg-primary pb-2">@tag.Name</span>
    }
</div>

<h5 class="mb-4">
    @sharedLocalizer["Collection"]:
    <a href="@Url.Action("Collection", "Collection", new { collectionId = Model.Collection.Id })" class="link-underline link-underline-opacity-0">@Model.Collection.Name</a>
</h5>

@foreach(var field in Model.Item.Fields)
{
    <div class="mb-3 row">
        @if(field.CollectionField.FieldType.Name == CollectionTypes.BOOL)
        {
            <div class="form-check ms-2">
                <input type="checkbox" class="form-check-input" value="@field.Value" @(field.Value == "true" ? "checked" : "unchecked") disabled />
                <label class=" form-check-label">@field.CollectionField.Name</label>
            </div>
        } 
        else
        {
            <label class="col-2 col-lg-1 col-form-label">@field.CollectionField.Name</label>
            <div class="col-5">
                @switch(field.CollectionField.FieldType.Name)
                {
                    case CollectionTypes.DATE:
                        <input type="date" readonly class="form-control-plaintext" value="@field.Value" />
                        break;
                    case CollectionTypes.INTEGER_NUMBER:
                        <input type="number" readonly class="form-control-plaintext" value="@field.Value">
                        break;
                    case CollectionTypes.STRING:
                        <input readonly class="form-control-plaintext" type="text" value="@field.Value" />
                        break;
                    case CollectionTypes.TEXT:
                        <textarea readonly class="form-control" rows="5">@field.Value</textarea>
                        break;
                }
            </div>
        }
    </div>
}

@if(User.Identity?.IsAuthenticated ?? false)
{
    <div class="d-flex flex-row gap-2 align-items-center mt-4">
        <button type="button" class="btn border-color-like border-circle" id="like-btn" @(Model.IsLiked ? "data-liked=like" : "") onclick="toggleLike('@Model.Item.Id')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b01279" class="bi bi-heart-fill mb-1 mt-1 @(Model.IsLiked ? "" : "d-none") like-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart mb-1 mt-1 @(Model.IsLiked ? "d-none" : "") like-icon" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
        </button>
        <span id="likes">@Model.Likes</span>
    </div>
}

<div class="mt-5 mb-5">
    <h4>@localizer["Comments"]</h4>

    @if(User.Identity?.IsAuthenticated ?? false)
    {
        <div class="mt-4 col-12 col-lg-6">
            <textarea id="comment-text" rows="3" placeholder="@localizer["AddComment"]" class="form-control"></textarea>
            <button type="button" class="btn btn-primary mt-3" onclick="sendComment()">
                @localizer["Send"]
            </button>
        </div>
    }
    
    <div class="container mt-5" id="comments">


    </div>

    <div class="d-flex flex-row justify-content-center w-100">
        <div class="spinner-border text-success" role="status" id="loader">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToast" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@sharedLocalizer["Warning"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
        </div>
    </div>
</div>


@section Scripts {

   <script src="~/lib/microsoft-signalr/signalr.min.js"></script>

   <script>
       let hubConnection;

        document.addEventListener('DOMContentLoaded', function () {
            setupItemHub();
            loadComments();
            $('#loader').hide();
            addInfiniteScroll();
        }, false);
   </script>
}