@using Application.Models.Identity;
@model IEnumerable<UserDto>

@foreach(var user in Model) {
    <tr>
        <td>
            <input type="checkbox" id="@user.Id" name="userCheckbox" />
        </td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>@user.RegistrationDate.ToLocalTime()</td>
        <td>
            <partial name="_UserStatusPartial" model="user" />
        </td>
        <td>@string.Join(", ", user.Roles)</td>
    </tr>
}

<input type="hidden" id="currentPageInput" value="@ViewData["page"]" />
<input type="hidden" id="totalPagesInput" value="@ViewData["total"]" />
