@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> sharedLocalizer;
@{
    ViewData["Title"] = localizer["UserManagement"];
}


<h3 class="mb-5 mt-4">@localizer["UserManagement"]</h3>

<partial name="_ManageButtons" />

<div class="mb-5 mt-5 table-responsive">
    <table class="table table-hover table-striped" id="usersTable">
        <thead class="table-dark">
            <tr>
                <th><input type="checkbox" id="headCheckbox" onchange="headCheckboxChanged(this)" /></th>
                <th>@localizer["Username"]</th>
                <th>@localizer["Email"]</th>
                <th>@localizer["RegDate"]</th>
                <th>@localizer["Status"]</th>
                <th>@localizer["Roles"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="tBody">
        </tbody>
    </table>

    <div class="d-flex flex-row justify-content-center w-100 mb-5">
        <div class="spinner-border text-success" role="status" id="loader">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <nav>
        <ul class="pagination">
            <li class="page-item" id="prevBtn">
                <a class="page-link" onclick="loadPrevPage('@Url.Action("Users")')" href="#">@sharedLocalizer["Previous"]</a>
            </li>
            <li class="page-item">
                <a class="page-link">
                    <span id="currentPage"></span> / <span id="totalPages"></span>
                </a>
            </li>
            <li class="page-item" id="nextBtn">
                <a class="page-link" onclick="loadNextPage('@Url.Action("Users")')" href="#">@sharedLocalizer["Next"]</a>
            </li>
        </ul>
    </nav>
   
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadUsers('@Url.Action("Users")', 1);

    }, false);
</script>